:root {
	/* Colors background Canvas */ 
	--Canvas-Background: #7FB3D5;

	/* Colors background Btns */ 
	--Background-Btns: #F8C471;
	--EfectHoverShadown-Btns: #2E4053;


	/* colors palette No.1 (sun) */ 
	--ColorsBack-Palette1: #F8FCBFFF;

}

/* ============== */
/*	   STYLES	  */
/* ============== */

#CanvasHTml {
	background-color: var(--Canvas-Background);
	border: 1px solid #000;
	/*aspect-ratio: auto 1585 / 680;*/


	width: 100%;
	height: 42em;
}

button {
	padding: 10px;
	margin-right: 125px;
	margin-top: 10px;

	outline: none;
	border-radius: 5px;
	border: 1px solid  #000;
	background-color: var(--Background-Btns);
}

button:hover {
	box-shadow: 5px 5px 10px var(--EfectHoverShadown-Btns), -5px -5px 10px var(--EfectHoverShadown-Btns);
}

/* ======================= */
/*	 STYLES PALETTE SUN    */
/* ======================= */

section {
	width: 190px;
	border: 1px solid #000;
	height: 125px;

	position: 	absolute;
	bottom: 90px;
	background-color: var(--ColorsBack-Palette1);
}

.RectContent1 {
	margin-left: 5px;
}

.RectContent2 {
	margin-left: 215px;
}

.RectContent3 {
	margin-left: 440px;
}

.RectContent4 {
	margin-left: 680px;
}

.RectContent5 {
	margin-left: 910px;
}

/* icon top */
.Icon_Top::after {
	content: '';
    display: block;
    position: absolute;
    bottom: -41px;
    left: 20px;

	border-top: 20px solid var(--ColorsBack-Palette1);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

/* DIVS PALETTE INDIVUDAL */ 

.SunRects, .MountRects, .HighWayRects, .HighLinesRects, .SkyRects {
	width: 25px;
	height: 25px;
	position: absolute;
	border: 1px solid #000;
}

#suncolor1, #MontColor1, #HighWayColor1, #HighWayLinesColor1, #SkyColor1 {
	background-color:#9FD5D1;
	margin-left: 5px;
	margin-top: 20px;
}

#suncolor2, #MontColor2, #HighWayColor2, #HighWayLinesColor2, #SkyColor2 {
	background-color: #0FFFFF;
	margin-left: 35px;
	margin-top: 20px;
}

#suncolor3, #MontColor3, #HighWayColor3, #HighWayLinesColor3, #SkyColor3 {
	background-color: #ffe4c4;
	margin-left: 65px;
	margin-top: 20px;
}

#suncolor4, #MontColor4, #HighWayColor4, #HighWayLinesColor4, #SkyColor4 {
	background-color: #002FA7;
	margin-left: 95px;
	margin-top: 20px;
}

#suncolor5, #MontColor5, #HighWayColor5, #HighWayLinesColor5, #SkyColor5 {
	background-color: #5f9ea0;
	margin-left: 125px;
	margin-top: 20px;
}

#suncolor6, #MontColor6, #HighWayColor6, #HighWayLinesColor6, #SkyColor6 {
	background-color: #A51C30;
	margin-left: 155px;
	margin-top: 20px;
}

#suncolor7, #MontColor7, #HighWayColor7, #HighWayLinesColor7, #SkyColor7 {
	background-color: #db7093;
	margin-left: 5px;
	margin-top: 55px;
}

#suncolor8, #MontColor8, #HighWayColor8, #HighWayLinesColor8, #SkyColor8 {
	background-color: #808000;
	margin-left: 35px;
	margin-top: 55px;
}

#suncolor9, #MontColor9, #HighWayColor9, #HighWayLinesColor9, #SkyColor9 {
	background-color: #f5fffa;
	margin-left: 65px;
	margin-top: 55px;
}

#suncolor10, #MontColor10, #HighWayColor10, #HighWayLinesColor10, #SkyColor10 {
	background-color: #cd853f;
	margin-left: 95px;
	margin-top: 55px;
}

#suncolor11, #MontColor11, #HighWayColor11, #HighWayLinesColor11, #SkyColor11 {
	background-color: #4169e1;
	margin-left: 125px;
	margin-top: 55px;
}

#suncolor12, #MontColor12, #HighWayColor12, #HighWayLinesColor12, #SkyColor12 {
	background-color: #00ff7f;
	margin-left: 155px;
	margin-top: 55px;
}

#suncolor13, #MontColor13, #HighWayColor13, #HighWayLinesColor13, #SkyColor13 {
	background-color: #FFDAB9;
	margin-left: 5px;
	margin-top: 90px;
}

#suncolor14, #MontColor14, #HighWayColor14, #HighWayLinesColor14, #SkyColor14 {
	background-color: #bc8f8f;
	margin-left: 35px;
	margin-top: 90px;
}

#suncolor15, #MontColor15, #HighWayColor15, #HighWayLinesColor15, #SkyColor15 {
	background-color: #90ee90;
	margin-left: 65px;
	margin-top: 90px;
}

#suncolor16, #MontColor16, #HighWayColor16, #HighWayLinesColor16, #SkyColor16 {
	background-color: #EF7F1A;
	margin-left: 95px;
	margin-top: 90px;
}

#suncolor17, #MontColor17, #HighWayColor17, #HighWayLinesColor17, #SkyColor17 {
	background-color: #B57EDC;
	margin-left: 125px;
	margin-top: 90px;
}

#suncolor18, #MontColor18, #HighWayColor18, #HighWayLinesColor18, #SkyColor18 {
	background-color: #1C4C96;
	margin-left: 155px;
	margin-top: 90px;
}

/* HIDE ALL ELEMENTS */ 
.Icon_Top, section {
	display: none;
	visibility: hidden;
}